@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=League+Gothic&family=Source+Sans+Pro:ital@1&display=swap');

body{
    background-image: linear-gradient(45deg, rgb(251, 164, 164), rgb(255, 12, 8));
    width: 100%;
    margin: auto;
}

.Titulo{
    text-align: center;
    background-color: rgb(50, 46, 46);
    color: white;
    margin-bottom: 0px;
    font-size: 25px;
    padding: 5px;
    margin-top: 0px;
    font-family: 'Anek Malayalam', sans-serif;
}

.barra_opcoes{
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 1200px;   
    font-size: 20px;
    color: white;

}

.barra_opcoes a:hover{
    color: white;
}

.barra_opcoes a:link{
    color: white;
}

.barra_opcoes_pag{
    text-decoration: none;
    margin-left: 10px;
}

.Titulo a:hover{
    color: black;
}

.Titulo a:active{
    color: black;
}

.Titulo a:visited{
    color: white;
}

.conteudo{
    background-color:rgb(217, 227, 231);
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.conteudo_tit{
    text-align: center;
    font-size: 40px;
    font-family: 'Anek Malayalam', sans-serif;

}

.conteudo_sub{
    text-align: center;
    font-size: 25px;
    font-family: 'Anek Malayalam', sans-serif;
}

.imagem{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 70px;
}

.imagem_1{
    display: inline-block;
}

.img_1{
    width: 600px;
    margin-left: 50px;
    display: inline-block;
    box-shadow: 3px 3px 3px black;
    vertical-align: bottom;
}

.img_2{
    width: 540px;
    margin-left: 260px;
    display: inline-block;
    box-shadow: 3px 3px 3px black;
}

.imagem_2{
    display: inline-block;
}

.imagem_des{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 300px;
    float: left;
    display: block;
}

.imagem_des_txt{
    width: 80%;
}

.imagem_des_txt_tit{
    margin-left: 700px;
}

.imagem_des_txt_desc{
    text-align: center;
    margin-left: 400px;
}

.login{
    background-color: black;
    display: block;
    text-align: center;
    margin-top: 130px;
    padding-bottom: 20px;
}

.login_titulo{
    padding-top: 15px;
    margin-right: 337px;
    color: white;
}

.login_nome{
    margin-bottom: 5px;
    padding: 8px;
    outline: 0px;
}

.login_senha{
    display: block;
    margin-left: 669px;
    padding: 8px;
    outline: 0px;
}

.login_botao{
    margin-left: 670px ;
    display: block;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 7px;
    background-color: red;
    border: none;
    width: 180px;
    cursor: pointer;
}

.video{
    margin: 15px;
    margin-left: 550px;
}

.rodape{
    background-color: rgb(102, 102, 98);
    padding: 1px;
    text-align: center;
    font-size: 15px;
}